---
# The name of your project
title: Spring Data for Apache Solr

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-data-solr
      icon: github

    - name: Issues (JIRA)
      url:  http://jira.springsource.org/browse/DATASOLR
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/DATASOLR
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-data-solr
      icon: stackoverflow


---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Data]({{ site.projects_site_url }}/spring-data)
{% endcapture %}


{% capture billboard_description %}

Spring Data for Apache Solr, part of the larger [Spring Data]({{ site.projects_site_url }}/spring-data) family,
provides easy configuration and access to [Apache Solr](http://lucene.apache.org/solr/) Search Server from Spring applications. It offers both low-level and high-level abstractions for interacting with the store.
  
Derived queries and annotations for Solr specific functionallity allow easy integration into existing applications.

{% endcapture %}

{% capture main_content %}

## Features

* High level repository abstractions with multicore support
* Annotations for Boost-, Facet- and Highlighting
* Customizable type mappings and type conversions
* Solr template supporting fluent query api
* Exception translation to Spring's portable Data Access exception hierarchy

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

#### Configuration

````java
@Configuration
@EnableSolrRepositories(basePackages={"com.acme.solr"}, multicoreSupport=true)
public class SolrContext {

  static final String SOLR_HOST = "solr.host";

  @Resource private Environment environment;

  @Bean
  public SolrServer solrServer() {
    String solrHost = environment.getRequiredProperty(SOLR_HOST);
    return new HttpSolrServer(solrHost);
  }
}
````


#### Repository Usage

````java
public interface SolrProductRepository extends SolrCrudRepository<Product, String> {

  Page<Product> findByPopularity(Integer popularity, Pageable page);

  Page<Product> findByNameOrDescription(@Boost(2) String name, String description, Pageable page);

  @Highlight
  HighlightPage<Product> findByNameIn(Collection<String> name, Page page);

  @Query(value = "name:?0")
  @Facet(fields = { "cat" }, limit=20)
  FacetPage<Product> findByNameAndFacetOnCategory(String name, Pageable page);
}
````

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Solr Showcase](https://github.com/christophstrobl/spring-data-solr-showcase) - A Spring MVC application rebuilding parts of the original Solr example.

{% endcapture %}


{% include project_page.html %}
</html>
